@font-face {
    font-family: 'viva';
    src: url('./fonts/viva-mexico-cabrones/viva_mexico.ttf') format('truetype');
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url('./img/5_background/desert.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'viva', Arial, Helvetica, sans-serif;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.gameContainer {
    width: 100%;
    max-width: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.gameContainer h1 {
    font-size: 88px;
    color: Brown;
    filter: drop-shadow(0px 0px 4px white);
    margin-bottom: 20px;
}

.gameWindow {
    width: 100%;
    max-width: 732px;
    height: 480px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: black;
    border-radius: 12px;
    border: 6px solid white;
    filter: drop-shadow(0px 0px 12px black);
}

.gameInfo {
    position: absolute;
    bottom: -180px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 224, 130, 0.7);
    border-radius: 12px;
    border: 6px solid white;
    filter: drop-shadow(0px 0px 12px black);
    padding: 0 10px;
    width: 700px;
}

.keyAssignment {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.keyAssignment div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keyAssignment h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: brown;
    filter: drop-shadow(0px 0px 4px white);
    margin-block-start: 0;
    margin-block-end: 0;
}

.keyAssignment h3 {
    color: rgb(48, 106, 118);
    ;
    text-shadow: 3px 3px 2px rgb(210, 119, 0);
}

.gameInfo p {
    margin-block-start: 0.3em;
    margin-block-end: 0;
}

.keyAssignmentTitle {
    color: brown;
    font-size: 2rem;
    filter: drop-shadow(0px 0px 4px white);
    margin-block-start: 0;
    margin-block-end: 0;
}

.startScreen {
    height: 100%;
    width: 100%;
    background-image: url(./img/9_intro_outro_screens/start/startscreen_2.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    border: 6px solid white;
    filter: drop-shadow(0px 0px 12px black);
    border-radius: 12px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}

.restartAndMuteMenu {
    width: 40px;
    /* position: absolute; */

    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: flex-end;
    flex-direction: column;
    z-index: 4;
    filter: invert(1);
    padding-right: 16px;
    padding-top: 10px;
}

.restartAndMuteMenu img {
    cursor: pointer;
    height: 32px;
}

.mobileButtonArea {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    padding-bottom: 16px;

}

.mobileButtonArea img {
    height: 32px;
}

.move {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.move img {
    padding: 5px;
    border: solid 4px white;
    border-radius: 100%;
    background-color: #fccb2b;
    cursor: pointer;
}

#buttonLeft {
    rotate: 180deg;
}

#buttonUp {
    rotate: -90deg;
}

.d-none {
    display: none;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.startButton {
    font-family: 'viva', Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: 3rem;
    background-color: transparent;
    border: none;
    font-size: 3.5rem;
    color: #fccb2b;
    text-shadow: 3px 3px 2px rgb(210, 119, 0);
    animation: pulse 2s infinite;
}

.startButton:hover {
    transform: scale(1.2);
    cursor: pointer;
    filter: drop-shadow(0px 0px 18px black);
    animation: none;
}

.restartGame {
    font-family: 'viva', Arial, Helvetica, sans-serif;
    margin-top: 18rem;
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 3.5rem;
    color: #fccb2b;
    text-shadow: 3px 3px 2px rgb(210, 119, 0);
    filter: drop-shadow(0px 0px 18px black);
    animation: pulse 2s infinite;
}

.restartGame:hover {
    transform: scale(1.2);
    cursor: pointer;
    filter: drop-shadow(0px 0px 18px black);
    animation: none;
}

#progressContainer {
    margin-top: 420px;
    margin-left: -23rem;
    position: absolute;
    background-color: transparent;
    border: none;
    width: 80px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

#progressBar {
    width: 0;
    height: 20px;
    background-color: #4caf50;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 5px;
}

footer {
    display: flex;
    margin-top: 200px;
    gap: 2rem;
    font-size: 18px;
}

footer a {
    text-shadow: 0px 0px 6px #fde2aa;
}

a {
    color: rgb(48, 106, 118);
    font-style: italic;
    text-decoration: underline;
    font-family: 'viva', Arial, Helvetica, sans-serif;

}

a:hover {
    cursor: pointer;
}

.turnScreenInfo {
    display: none;
}

/* Smartphones ----------------------*/
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .gameWindow {
        width: 100%;
    }

    .gameInfo {
        width: 90%;
    }

    .gameContainer {
        width: 100%;
    }

    footer {
        display: none;
    }

    .mainContainer {
        padding-bottom: 12px;
    }

    .gameContainer h1 {
        font-size: 80px;
        padding-top: 2rem;
    }
}

/* Smartphones ----------------------*/
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        border: none;
        border-radius: 0;
    }

    .gameWindow {
        height: 100vh;
    }

    .gameContainer {
        display: flex;
        height: 100vh;
        margin-top: 0;
    }

    .mainContainer {
        padding: 0;
    }

    .gameContainer h1 {
        display: none;
    }

    .startScreen {
        border: none;
        border-radius: 0;
    }

    .startButton {
        margin-top: 1rem;
    }

    .mobileButtonArea {
        display: flex;
    }

    .gameInfo {
        display: none;
    }
}


@media (max-width: 600px) {
    .turnScreenInfo {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .turnScreenInfo h2 {
        color: white;
        font-size: 32px;
    }

    #restart {
        display: none;
    }

    #audioButton {
        display: none;
    }

    .startScreen {
        display: none;
    }

    .gameInfo {
        display: none;
    }

    .mainContainer {
        padding-bottom: 0;
    }

    .gameContainer {
        display: none;
    }


}